body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10rem;
}
h1 {
	font-size: 4rem;
	box-shadow: 3px 3px 4px 4px lightgrey;
	padding: 0.7rem 4rem;
	font-weight: 500;
}
#code {
	font-size: 5rem;
}

span {
	font-weight: bolder;
	color: green;
}